.card {
    padding-left: -25px;
}

.Trusted {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 450px;

}

.card2 {

    width: 1320px;
    height: 300px;
    background-color: #289BDE;
    align-items: center;
    justify-content: center;
}

.text {
    width: 50%;
    margin-right: 15px;
}

.btn2 {
    width: 100%;
    margin-left: 300px;
}